<% provide(:title, "About") %>
<div class="home">
	<h1></h1>

	<div class="row white">
		<div class="col-xs-6 col-md-5 col-lg-4 col-lg-offset-2 col-md-offset-1">
			<%= image_tag "martin", alt: "Martin Safer", class: "home-photo" %>
			<p class="caption">Martin Safer - Web Developer</p>
		</div>
		<div class="col-xs-6 col-md-4 col-lg-4 about">
			<h3>About Me</h3>
			<br>
			<p>I am a recent college graduate with a bachelor’s degree in Aquatic and Fishery Science. I learned web development technologies through codecademy, odin project, language specific documentation, and other resources. I am starting a career in the tech industry and already have some freelance experience, but am looking for a long term position at a stable company where I can learn. I have a strong desire to succeed, coupled with a ferocious appetite for knowledge.</p>
			<br>
			<h3>Hobbies</h3>
			<p>Aquariums, Coding, Biking, Fishing,
				 Gardening, Pottery, Skiing,
				 Video Games.</p>
		</div>
	</div>
</div>