<div class="home">
	<h1></h1>

	<div class="row white">
		<div class="col-xs-4 col-xs-offset-3">
			<%= image_tag "martin", alt: "Martin Safer", class: "home-photo" %>
			<p class="caption">Martin Safer graduating from UW</p>
		</div>
		<div class="col-xs-4">

			<h3>A Quick Introduction</h3>
			<p>I am a rails web developer.</p>
			<p>I am an aquatic and fishery scientist.</p>
			<p>I am Martin.</p>

		</div>
	</div>
</div>