<div class="home">
	<h1>Welcome to MartinSafer.com</h1>

	<div class="row white">
		<div class="col-xs-4">
			<img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/13442276_1360195813994231_653383787258475089_n.jpg?oh=db8c69970cd69100670e98bda98abf4b&oe=585B12BE" alt="Martin Safer" class="home-photo">
			<p class="caption">Martin Safer graduating from UW</p>
		</div>
		<div class="col-xs-8">

			<h3>A Quick Introduction</h3>
			<p>I am a rails web developer.</p>
			<p>I am an aquatic and fishery scientist.</p>
			<p>I am Martin.</p>
			
			<br>
			<p class="break"></p>

			<h3>About This Website</h3>
			<p>This website is designed to be my personal web development portfolio. Above you will find my resume, biography, various projects, and contact information.</p>
			<p>I am still learning about web development every day. If you have any questions, please don't hesitate to contact me.</p>

		</div>
	</div>
</div>