<footer class="footer">
  <small class="center">
    <p class="inline pull-left">This website powered and created by <a href="http://martinsafer.com" target="_blank">Martin Safer</a></p>
  
    <p class="center inline brand">&#169; MartinSafer.com 2016</p>
    <nav>
      <ul>
        <li><p><%= link_to "Contact", '#' %></p></li>
        <li><p><%= link_to "GitHub", 'https://github.com/mtsafer', target: "_blank" %></p></li>
      </ul>
    </nav>
  </small>
</footer>